/* app/globals.css or styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes border-rotate {
  to {
    --border-angle: 360deg;
  }
}

.animate-border {
  animation: border-rotate 6s linear infinite;
}

@property --border-angle {
    inherits: false;
    initial-value: 0deg;
    syntax: '<angle>';
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
